body {
    margin: 0;
}
/* blog form */
.blog-form {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    background-color: rgb(228, 228, 228);
}

.blog-form .form-container {
    width: 500px;
}

.blog-form .form-container h1 {
    text-align: center;
    margin-bottom: 40px;
}

.blog-form form label {
    font-size: 20px;
    font-weight: 500;
    color: gray;
}

.blog-form form .input, textarea {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    padding: 8px;
    margin-top: 7px;
    margin-bottom: 20px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(205, 205, 205);
    border-radius: 10px;
}

.date {
    display: flex;
    justify-content: space-between;
}

.date-left {
    flex: 50%;
    padding-right: 4px;
}

.date-right {
    flex: 50%;
    padding-left: 4px;
}

.blog-form form textarea {
    height: 250px;
    resize: none;
}

.blog-list {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 350px;
}

.blog-list-item {
    align-items: center;
    margin: 12px;
    color: black;
    text-decoration-line: none;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 10px 40px rgb(199, 199, 199);
    flex: 10%;
}


.blog-image {
    width: 100%;
}

.blog-image img {
    width: 350px;
    height: 200px;
    object-fit: cover;
}

.blog-content {
    padding: 0px 16px;
}

.btn-group {
    display: flex;
    padding: 12px;
}

.btn-detail {
    flex :50%;
    width : 100%;
    background-color: black;
    color: white;
    height: 24;
    border-radius: 4px;
}

.btn-post{
    font-weight: bold;
    width: 100%;
    background-color: black;
    padding: 20px 44px;
    border-radius: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    color: white;
    border: none;
    font-size: 16;
    cursor: pointer;
}

.btn-post:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 6px blue;
}