<html lang="en">

<head>
    <title>Update Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body style="background-color: rgb(242, 242, 242);">
    <!-- navbar -->
    <nav class="navbar navbar-light navbar-expand-lg bg-white p-3 justify-content-between">
        <a href="/home" class="navbar-brand">
            <img src="/public/image/christian-buehner-DItYlc26zVI-unsplash.jpg" alt="" width="80px"
                class="d-inline-block align-middle" style="border-radius: 100px;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a href="/home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/blog" class="nav-link">Add Project</a>
                </li>
            </ul>
            <div>
                <a href="/contact">
                    <button class="btn btn-dark my-2 my-sm-0" type="submit">Contact Me</button>
                </a>

            </div>
        </div>
    </nav>
    <div class="mt-5">
        <div class="blog-form">
            <div class="form-container">
                <form action="/update-project/{{.Blog.Id}}" method="POST">
                    <div
                        style="width: 600px; margin: 0px auto; padding: 24px; background-color: white; border-radius: 10px;box-shadow: 0 10px 40px rgb(175, 175, 175)">
                        <h1 style="text-align: center; margin-bottom: 24px; ">ADD MY PROJECT</h1>
                        <div class="form-group mb-2">
                            <label for="input-title">Project Name</label>
                            <input class="form-control" id="input-title" name="editTitle" value="{{.Blog.Title}}">
                        </div>
                        <div class="form-group mb-2" style="display: flex;">
                            <div style="flex:50%; margin-right: 4px;">
                                <label for="input-startdate">Start Date</label>
                                <input class="form-control" type="date" id="input-startdate">
                            </div>
                            <div style="flex:50%; margin-left: 4px;">
                                <label for="input-enddate">End Date</label>
                                <input class="form-control" type="date" id="input-enddate">
                            </div>
                        </div>
                        <div class="form-group mb-2">
                            <label for="input-content">Description</label>
                            <input type="text" class="form-control" name="editContent" value="{{.Blog.Content}}">
                            <!-- <textarea id="input-content" class="form-control row=3" name="inputContent" placeholder=""></textarea> -->
                        </div>
                        <div>
                            <label for="input-tech">Technologies</label><br>
                            <div style="display: flex; margin-top: 4; margin-bottom: 16;">
                                <div style="flex: 50%;">
                                    <input type="checkbox" id="input-tech1" value="Node Js" class="">
                                    <label style="font-size: 16px; color: black;" for="input-tech1">Node Js</label><br>
                                    <input type="checkbox" id="input-tech2" value="React Js">
                                    <label style="font-size: 16px; color: black;" for="input-tech2">React Js</label>
                                </div>
                                <div style="flex: 50%;">
                                    <input type="checkbox" id="input-tech3" value="Next Js">
                                    <label style="font-size: 16px; color: black;" for="input-tech3">Next Js</label><br>
                                    <input type="checkbox" id="input-tech4" value="TypeScript">
                                    <label style="font-size: 16px; color: black;" for="input-tech4">TypeScript</label>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <label>Upload Image</label>
                                <div class="input-image-content">
                                    <label for="input-blog-image">
                                        <img src="/public/image/desktop.jpg" width="240px" style="margin: 8px 0px;" class="rounded">
                                    </label>
                                    <input class="form-control" type="file" id="input-blog-image" required>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-dark mt-3">Post Blog</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="blog.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>


</body>

</html>