<html>

<head>
    <link rel="stylesheet" href="blog-detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body>
    <nav>
        <div class="nav-left">
            <ul>
                <li><a href="index.css"><img src="./image/christian-buehner-DItYlc26zVI-unsplash.jpg" alt=""></a></li>
                <li><a href="index.css">Home</a></li>
                <li><a href="blog.html">My Project</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <a href="contact.html">
                <button class="btn-nav-contact"> Contact Me</button>
            </a>

        </div>
    </nav>


    {{.Id}}
    <h1 class="detail-blog-title">
        DumbWays Web App
    </h1>
    <div>
        <div class="detail-blog">
            <div class="detail-blog-card-left">
                <img src="./image/Desktop - 1.jpg" alt="photo" />
            </div>
            <div class="detail-blog-card-right">
                <div style="margin-bottom: 48px;">
                    <p class="detail-blog-card-right-title">Duration</p>
                    <div class="detail-blog-card-right-item">
                        <i class="fa-solid fa-calendar-days"></i>
                        <label for="">12 Jan 2021 - 11 Feb 2021</label><br>
                    </div>
                    <div class="detail-blog-card-right-item">
                        <i class="fa-solid fa-clock"></i>
                        <label for="">1 month</label>
                    </div>
                </div>
                <div>
                    <p class="detail-blog-card-right-title">Technologies</p>
                    <div style="display: flex;">
                        <div style="flex: 50%;">
                            <div class="detail-blog-card-right-item">
                                <i class="fa-brands fa-react"></i>
                                <label for="">React Js</label><br>
                            </div>
                            <div class="detail-blog-card-right-item">
                                <i class="fa-brands fa-node-js"></i>
                                <label for="">Node Js</label>
                            </div>
                        </div>
                        <div style="flex: 50%;">
                            <div class="detail-blog-card-right-item">
                                <i class="fa-brands fa-js"></i>
                                <label for="">JavaScript</label><br>
                            </div>
                            <div class="detail-blog-card-right-item">
                                <i class="fa-brands fa-creative-commons-nc"></i>
                                <label for="">Socket</label> 
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail-description">
            <p class="detail-blog-content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem doloribus hic architecto alias aut odio doloremque magni officiis, nisi deleniti quam ducimus itaque qui accusamus, praesentium iure saepe. Labore, consequuntur.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni necessitatibus placeat, eligendi iste obcaecati vero, numquam blanditiis voluptatum ipsa nulla odit, esse nihil id suscipit rerum facilis perferendis saepe et!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias numquam, ratione dolore animi soluta delectus quasi, quae dolorem eius minus ut quia a in tempora, omnis laudantium debitis illo optio?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis facilis non aspernatur voluptatem eius qui blanditiis eos. Velit, sed soluta, ad, vel in provident quidem assumenda itaque iusto dolores distinctio!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, eos repellendus culpa, laborum quasi esse iste eveniet minima dignissimos labore ex nesciunt perspiciatis. Nobis quis consectetur obcaecati, quod velit nulla.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam earum doloribus quidem iure illo necessitatibus laudantium harum, placeat reprehenderit quo optio aut natus maiores minima, officia itaque temporibus atque neque?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam tempora consequuntur blanditiis? Excepturi, ullam repudiandae! Autem est molestiae iure dignissimos, corrupti ut at officiis. Ipsa delectus earum repudiandae animi iure!
            </p>
        </div>

    </div>
</body>

</html>