<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body class="bg-light">
    <nav class="navbar navbar-light navbar-expand-lg bg-white p-3 justify-content-between">
        <a href="/home" class="navbar-brand">
            <img src="/public/image/christian-buehner-DItYlc26zVI-unsplash.jpg" alt="" width="80px"
                class="d-inline-block align-middle" style="border-radius: 100px;">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a href="/home" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/form-blog" class="nav-link">Add Project</a>
                </li>
            </ul>
            <div>
                <a href="/contact">
                    <button class="btn btn-dark my-2 my-sm-0" type="submit">Contact Me</button>
                </a>

            </div>
        </div>
    </nav>

    <!-- DETAIL -->
    <h1 style="text-align: center; margin-top: 24px;">
    {{.Blog.Title}}
    </h1>
    <div style="">
        <div class="d-flex justify-content-center m-5">
            <div>
                <img src="/public/image/Desktop.jpg" alt="photo" width="500px" class="rounded mr-3"/>
            </div>
            <div style="padding-left: 12px;">
                <div style="margin-bottom: 48px;">
                    <p class="detail-blog-card-right-title">Duration</p>
                    <div class="detail-blog-card-right-item">
                        <i class="fa-solid fa-calendar-days"></i>
                        <label for="">12 Jan 2021 - 11 Feb 2021</label><br>
                    </div>
                    <div class="detail-blog-card-right-item">
                        <i class="fa-solid fa-clock"></i>
                        <label for="">
                            {{.Blog.Duration}}
                        </label>
                    </div>
                </div>
                <div>
                    <p class="detail-blog-card-right-title">Technologies</p>
                    <div style="display: flex;">
                        <div style="flex: 50%;">
                            <div class="detail-blog-card-right-item">
                                <i class="fa-brands fa-react"></i>
                                <label for="">React Js</label><br>
                            </div>
                            <div class="detail-blog-card-right-item">
                                <i class="fa-brands fa-node-js"></i>
                                <label for="">Node Js</label>
                            </div>
                        </div>
                        <div style="flex: 50%;">
                            <div class="detail-blog-card-right-item">
                                <i class="fa-brands fa-js"></i>
                                <label for="">JavaScript</label><br>
                            </div>
                            <div class="detail-blog-card-right-item">
                                <i class="fa-brands fa-creative-commons-nc"></i>
                                <label for="">Socket</label> 
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-start m-5" >
            <p>
               {{.Blog.Content}}
            </p>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>

</html>