<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Blog</title>
  <link rel="icon" type="image/x-icon" href="/public/image/logo.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</head>

<body class="bg-light" style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">

  <nav class="navbar navbar-light navbar-expand-lg bg-white p-3 justify-content-between">
    <a href="/home" class="navbar-brand">
      <img src="/public/image/christian-buehner-DItYlc26zVI-unsplash.jpg" alt="" width="80px"
        class="d-inline-block align-middle" style="border-radius: 100px;">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a href="/home" class="nav-link">Home</a>
        </li>
      </ul>
      <div class="navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="justify-content-between">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/register" class="nav-link fw-bold">Register</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
              <a href="/contact">
                <button class="btn btn-dark" type="submit">Contact Me</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <section>
    <div class="mt-5">
      <form action="/submit-register" method="POST">
        <div
          style="width: 600px; margin: 0px auto; padding: 24px; background-color: white; border-radius: 10px;box-shadow: 0 10px 40px rgb(175, 175, 175)">
          <h1 style="text-align: center; margin-bottom: 24px; ">REGISTER</h1>
          {{if .DataLogin.FlashData}}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{.DataLogin.FlashData}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {{end}}
          <div class="form-group mb-2">
            <label for="name">Name</label>
            <input type="text" class="form-control shadow-sm" id="name" name="inputName" required>
          </div>
          <div class="form-group mb-2">
            <label for="email">Email</label>
            <input class="form-control" id="email" name="inputEmail" required>
          </div>
          <div class="form-group mb-2">
            <label for="password">Password</label>
            <input class="form-control" id="password" name="inputPassword" type="password" required>
          </div>
          <button class="btn btn-dark mt-3" onclick="ShowData">login</button>
        </div>
      </form>
    </div>
  </section>

</body>

</html>